Source: ros-melodic-hector-slam
Section: misc
Priority: optional
Maintainer: Johannes Meyer <meyer@fsr.tu-darmstadt.de>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin
Homepage: http://ros.org/wiki/hector_slam
Standards-Version: 3.9.2

Package: ros-melodic-hector-slam
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-hector-compressed-map-transport, ros-melodic-hector-geotiff, ros-melodic-hector-geotiff-plugins, ros-melodic-hector-imu-attitude-to-tf, ros-melodic-hector-map-server, ros-melodic-hector-map-tools, ros-melodic-hector-mapping, ros-melodic-hector-marker-drawing, ros-melodic-hector-nav-msgs, ros-melodic-hector-slam-launch, ros-melodic-hector-trajectory-server
Description: The hector_slam metapackage that installs hector_mapping and related packages.
